/* MAIN */
#MainHome {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

#MainHome article {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    row-gap: 2em;
    column-gap: 2em;
}

#MainHome img {
    width: 17em;
    height: 25vh;
    object-fit: contain;
}

/* Annonce */
#Annonce {
    margin-top: 5em;
}

#Annonce img {
    width: 10em;
    height: 15em;
    position: absolute;
    object-fit: contain;
}

#Annonce img:nth-child(2) {
    margin-top: 4.5em;
    margin-left: 2.5em;
    left: 0;
}

#Annonce img:nth-child(4) {
    right: 0;
    margin-top: -5em;
    margin-right: 2.5em;
    width: 6em;
    height: 15em;
}

#Annonce svg {
    width: 100%;
    height: 60vh;
    position: absolute;
    margin-top: -6em;
    z-index: -1;
}

#Annonce article:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 5em;
    width: 60%;
    padding-top: 10em;
    text-align: center;
}

#Annonce article:nth-child(3) div p {
    text-align: center;
    font-weight: 700;
}

#Annonce article:nth-child(3) div {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: #F0FBF7;
    border-radius: 1.5em;
    padding: 2em;
}

#Annoncepoint {
    display: flex;
    flex-direction: column;
    gap: 10em;
    margin-top: 10em;
}

#Annoncepoint article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2em;
    width: 60%;
    text-align: center;
}

#Annoncepoint article:nth-child(1) p:nth-child(1) {
    font-weight: 800;
    font-size: 1.7em;
}

#Annoncepoint article:nth-child(1) p:nth-child(2) {
    font-weight: 500;
    font-size: 1.5em;
}

#Annoncepoint article:nth-child(1) p:nth-child(3) span {
    font-weight: 700;
}

#Annoncepoint article:nth-child(2) {
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    gap: 3em;
    border-radius: 1.5em;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    padding: 4em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(1) {
    margin-bottom: -8em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(1) i {
    background: #81BAC0;
    height: max-content;
    padding: 1em 1.3em;
    border-radius: 1em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(2) {
    margin-top: -8em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(2) i {
    background: linear-gradient(156.6deg, #EF7A64 -8.29%, #FAC16F 101.3%);
    height: max-content;
    padding: 1em 1.3em;
    border-radius: 1em;
}

#Annoncepoint article:nth-child(2) picture {
    background: #fff;
    border-radius: 1.5em;
    padding: 2em 4em;
    width: 65vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#Annoncepoint article:nth-child(2) picture figure {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#Annoncepoint article:nth-child(2) picture figure p {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#Annoncepoint article:nth-child(2) picture figure p span:nth-child(1) {
    font-size: 1.5em;
    font-weight: 700;
}

#Annoncepoint article:nth-child(2) picture figure p span:nth-child(2) {
    font-weight: 500;
}


#AnnonceExplore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2em;
    padding: 2em;
    width: 100%;
    margin-top: 10em;
}

#AnnonceExplore article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#AnnonceExplore article:nth-child(2) {
    width: 100%;
}

#AnnonceExplore article:nth-child(4) {
    width: 100%;
}

#info {
    width: 50%;
    margin-top: -2em;
}


#info p:nth-child(1) {
    font-weight: 700;
    font-size: 1.5em;
}

#info p:nth-child(3) {
    width: 80%;
}

#AnnonceExplore article picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#AnnonceExplore article picture p:nth-child(2) {
    font-weight: 700;
    margin-top: 0.5em;
}

#AnnonceExplore article img {
    background: var(--primary);
    padding: 1.5em;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 6em;
    border-radius: 1em;
}

#paginnation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-top: 7em;
}

#paginnation article:nth-child(1) p {
    font-weight: 800;
    font-size: 1.5em;
}

#paginnation article:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#paginnation article:nth-child(2) i {
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    z-index: 999;
    background-color: #EE7563;
}

#paginnation article:nth-child(2) i:first-child {
    margin-left: 2em;
    position: absolute;
    left: 0;
}

#paginnation article:nth-child(2) i:last-child {
    margin-right: 2em;
    position: absolute;
    right: 0;
}

#paginnation article:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
}

#paginnation article:nth-child(2) ul li img {
    width: 251px;
    height: 387px;
    object-fit: contain;
}



#Explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    margin-top: 8em;
}

#Explore article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

#Explore article:nth-child(1) p:nth-child(1) {
    font-weight: 800;
    font-size: 1.5em;
}

#Explore article:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: left;
    flex-wrap: wrap;
    gap: 4em;
    row-gap: 1em;
    width: 90%;
    padding: 2em;
    margin: 0 auto;
}

#Explore article:nth-child(2) picture {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding: 1em;
    width: 25vw;
}

#Explore article:nth-child(2) picture img {
    width: 5em;
    height: 5em;
    object-fit: contain;
    border-radius: 50%;
    border: 6px solid #F9C66E
}

#Explore article:nth-child(2) picture p:nth-child(1) {
    font-weight: 700;
}

#Explore article:nth-child(2) picture figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#Explore article:nth-child(2) picture i {
    color: #F9C66E;
}


#communaute {
    background: url('../Asset/communaute.png') no-repeat center center / cover;
    padding: 10em;
    margin-top: 8em;
}


#communaute article {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

#communaute article p:nth-child(1) {
    font-weight: 800;
    font-size: 1.7em;
}

#communaute article p:nth-child(2) {
    font-weight: 500;
    font-size: 1.3em;
}

#communaute article button {
    border: 2px solid var(--primary);
    color: #fff;
    border-radius: 1em;
    padding: 1.5em 5em;
    font-weight: 700;
    cursor: pointer;
    color: var(--primary);
    background: none;
    font-size: 1em;
}


#temoignage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-top: 8em;
}

#temoignage article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

#temoignage article:nth-child(1) p:nth-child(1) {
    font-weight: 700;
    font-size: 1.7em;
}
#temoignage article:nth-child(1) p:nth-child(2) {
    font-weight: 500;
    font-size: 1.3em;
}

#temoignage article:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
}

#temoignage article:nth-child(2) figure {
    background: #fff;
    border-radius: 1.5em;
    padding: 2em;
    width: 40%;
    height: 279px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#temoignage article:nth-child(2) figure picture {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
}

#temoignage article:nth-child(2) figure picture img:first-child {
    width: 5em;
    height: 5em;
    object-fit: contain;
    border-radius: 50%;
    border: 6px solid #81BAC0;
}

#quotes {
    width: 76px;
    height: 54px;
    right: 0;
}

#temoignage article:nth-child(2) figure picture p:nth-child(1) {
    font-weight: 700;
}

#temoignage article:nth-child(2) figure picture figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

#temoignage article:nth-child(2) figure picture i {
    color: #F9C66E;
}