/* MAIN */
#MainHome {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0.5em;
}

#MainHome article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0 !important;
    column-gap: 0 !important;
}

#MainHome img {
    width: 16em;
    height: 24vh;
    object-fit: contain;
}

#pop-up {
    position: absolute;
    inset: 10%;
    margin: auto;
    /* left: 27%; */
    margin-top: 16em;
    display: grid;
    place-items: center;
    width: 42.5em;
    height: 18em;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5em;

}

#pop-up div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

#pop-up div p {
    font-size: 1.3em;
    font-weight: 700;
    width: 25em;
    text-align: center;
    text-wrap: wrap;
}

#pop-up div button {
    width: max-content;
    margin: 0 auto;
    font-size: 0.9em;
}

/* Annonce */
#Annonce {
    margin-top: 5em;
}

#Annonce img {
    width: 9em;
    height: 15em;
    position: absolute;
    object-fit: contain;
}

#Annonce img:nth-child(2) {
    margin-top: 4.5em;
    margin-left: 5.5em;
    left: 0;
}

#Annonce img:nth-child(4) {
    right: 0;
    margin-top: -5em;
    margin-right: 5.5em;
    width: 6em;
    height: 15em;
}

#Annonce svg {
    /* width: 100%; */
    min-width: 100em;
    height: 60vh;
    position: absolute;
    margin-top: 2.5em;
    z-index: -1;
    left: -5%;
    object-fit: cover;
    padding: 0;
    scale: 1.3;
}

#Annonce article:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 5em;
    width: 60%;
    padding-top: 10em;
    text-align: center;
}

#title {
    width: 80%;
    /* font-size: 1.1em; */
    line-height: 1.5em;
}

#Annonce article:nth-child(3) div p {
    text-align: center;
    font-weight: 700;
}

#Annonce article:nth-child(3) div {
    display: flex;
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    background: #F0FBF7;
    border-radius: 1.5em;
    padding: 2em;
}

#Annoncepoint {
    display: flex;
    flex-direction: column;
    gap: 10em;
    margin-top: 10em;
}

#Annoncepoint article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2em;
    width: 60%;
    text-align: center;
}

#Annoncepoint article:nth-child(1) p:nth-child(1) {
    font-weight: 800;
    font-size: 1.7em;
}

#Annoncepoint article:nth-child(1) p:nth-child(2) {
    font-weight: 500;
    font-size: 1.3em;
}

#Annoncepoint article:nth-child(1) p:nth-child(3) span {
    font-weight: 700;
}

#Annoncepoint article:nth-child(2) {
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    gap: 3em;
    border-radius: 1.5em;
    justify-content: space-between;
    margin: 0 auto;
    width: 97%;
    padding: 4em 2em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(1) {
    margin-bottom: -8em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(1) i {
    background: #81BAC0;
    height: max-content;
    padding: 1em 1.3em;
    border-radius: 1em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(2) {
    margin-top: -8em;
}

#Annoncepoint article:nth-child(2) picture:nth-child(2) i {
    background: linear-gradient(156.6deg, #EF7A64 -8.29%, #FAC16F 101.3%);
    height: max-content;
    padding: 1em 1.3em;
    border-radius: 1em;
}

#Annoncepoint article:nth-child(2) picture {
    background: #fff;
    border-radius: 1.5em;
    padding: 2em 4em;
    width: 70%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#Annoncepoint article:nth-child(2) picture figure {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#Annoncepoint article:nth-child(2) picture figure p {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#Annoncepoint article:nth-child(2) picture figure p span:nth-child(1) {
    font-size: 1.5em;
    font-weight: 700;
}

#Annoncepoint article:nth-child(2) picture figure p span:nth-child(2) {
    font-weight: 500;
}

#desc {
    font-size: 0.9em;
}

#AnnonceExplore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 4em;
    padding: 2em;
    width: 100%;
    margin-top: 12em;
}

#AnnonceExplore article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#AnnonceExplore article:nth-child(1) {
    margin-bottom: -5em;
}


#AnnonceExplore article:nth-child(2) {
    width: 100%;
    gap: 5em;
}

#AnnonceExplore article:nth-child(3) {
    justify-content: space-evenly;

}

#AnnonceExplore article:nth-child(4) {
    width: 100%;
    gap: 5em;

}

#AnnonceExplore article:nth-child(5) {
    margin-top: -5em;
}

#info {
    width: 50%;
    margin-top: -2em;
}


#info p:nth-child(1) {
    font-weight: 700;
    font-size: 1.7em;
}

#info p:nth-child(2) {
    font-weight: 700;
    font-size: 1.3em;
}

#info p:nth-child(3) {
    width: 70%;
    margin-top: 1em;
}

#AnnonceExplore article picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#AnnonceExplore article picture div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#AnnonceExplore article picture div p:nth-child(1) {
    font-weight: 700;
    margin-top: 0.5em;
}

#AnnonceExplore article img {
    background: var(--primary);
    padding: 1.5em;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 6em;
    border-radius: 1em;
}

#AnnonceExplore article:is(:nth-child(1), :nth-child(3), :nth-child(5)) img {
    background: #EE7563;
}

#paginnation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-top: 7em;
}

#paginnation article:nth-child(1) p {
    font-weight: 800;
    font-size: 1.7em;
}

#paginnation article:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#paginnation article:nth-child(2) i {
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    z-index: 999;
    background-color: #EE7563;
}

#paginnation article:nth-child(2) i:first-child {
    margin-left: 4em;
    position: absolute;
    left: 0;
}

#paginnation article:nth-child(2) i:last-child {
    margin-right: 4em;
    position: absolute;
    right: 0;
}

#paginnation article:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 26em;
    padding: 0 auto;
    padding-top: 0.9em;
    overflow: hidden;
}

#paginnation article:nth-child(2) ul li {
    user-select: none;

}

#paginnation article:nth-child(2) ul li img {
    width: 251px;
    height: 387px;
    object-fit: contain;
}



#Explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-top: 12em;
}

#Explore article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
}

#Explore article:nth-child(1) p:nth-child(1) {
    font-weight: 800;
    font-size: 1.7em;
}

#Explore article:nth-child(1) p:nth-child(2) {
    width: 80%;
}

#Explore article:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    flex-wrap: wrap;
    gap: 4em;
    row-gap: 1em;
    column-gap: 2em;
    width: 80%;
    padding: 2em;
    margin: 0 auto;
}

#Explore article:nth-child(2) picture {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding: 1.5em 2em;
    flex: 2;
}

#Explore article:nth-child(2) picture img {
    width: 5.3em;
    height: 5.3em;
    object-fit: contain;
    border-radius: 50%;
    /* border: 6px solid #F9C66E */
}

#Explore article:nth-child(2) picture p:nth-child(1) {
    font-weight: 700;
}

#Explore article:nth-child(2) picture figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#Explore article:nth-child(2) picture i {
    color: #F9C66E;
}


#communaute {
    background: url('../Asset/communaute.png') no-repeat center center / cover;
    margin-top: 8em;
}

#communaute article {
    background: #ffffff92;
    padding: 10em;

}

#communaute article picture {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#communaute article picture p:nth-child(1) {
    font-weight: 800;
    font-size: 1.7em;
}

#communaute article picture p:nth-child(2) {
    font-weight: 500;
    font-size: 1.4em;
}

#communaute article picture p:nth-child(3) {
    width: 95%;
    line-height: 1.5em;
}

#communaute article picture button {
    border: 2px solid var(--primary);
    border-radius: 1em;
    padding: 1.5em 5em;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.5em;
    color: var(--primary);
    background: #fff;
    font-size: 1em;
}


#temoignage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-top: 8em;
}

#temoignage article:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

#temoignage article:nth-child(1) p:nth-child(1) {
    font-weight: 700;
    font-size: 1.7em;
}

#temoignage article:nth-child(1) p:nth-child(2) {
    font-weight: 500;
    font-size: 1.3em;
}

#temoignage article:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 4em;
    justify-content: center;
}

#temoignage article:nth-child(2) figure {
    background: #fff;
    border-radius: 1.5em;
    padding: 2em;
    width: 40%;
    height: 44vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-bottom: 3em;
}

#temoignage article:nth-child(2) figure picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
    padding: 1em;
}

#temoignage article:nth-child(2) figure picture div {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    padding: 1em;
}

#temoignage article:nth-child(2) figure picture img:first-child {
    width: 5.5em;
    height: 5.5em;
    object-fit: contain;
    border-radius: 50%;
}

#quotes {
    width: 70px;
    height: 48px;
    right: 0;
}

#temoignage article:nth-child(2) figure picture p:nth-child(1) {
    font-weight: 700;
}

#temoignage article:nth-child(2) figure picture figcaption {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5em;
}

#desc1 {
    width: 97%;
}

.silver {
    color: #D9D9D9 !important;
}

#temoignage article:nth-child(2) figure picture i {
    color: #F9C66E;
}