@media screen and (max-width: 1054px) {
    body {
        /* background: red; */
    }

    /* HEADER */
    nav section article:nth-child(2) {
        margin-left: 5em;
    }

    header section article i {
        display: none;
    }

    header section article p {
        width: max-content;
        max-width: 15vw;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }

    /* MAIN */
    #MainHome article {
        display: flex;
        gap: 2em;
    }

    #MainHome img {
        width: 15em;
        height: 23vh;
        object-fit: contain;
    }

    #Annoncepoint article:nth-child(2) picture {
        display: flex;
        flex-direction: column;
        padding: 1.5em 2em !important;
        gap: 1.5em;
        padding-bottom: 2em;
    }

    #Annoncepoint article:nth-child(2) picture figure {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5em;
    }

    #temoignage article:nth-child(2) figure {
        width: 45%;
    }
}

@media screen and (max-width: 1200px) {

    header section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }

    header section article {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5em;
        text-align: center;
    }

    #title {
        width: 90%;
    }

    #Annonce img:nth-child(2) {
        margin-top: 4.5em;
        margin-left: 2.5em;
        left: 0;
    }

    #Annonce img:nth-child(4) {
        right: 0;
        margin-top: -5em;
        margin-right: 2.5em;
        width: 6em;
        height: 15em;
    }
}